<template>
  <v-app>
    <v-content class="grey lighten-3">
      <v-container grid-list-md>
        <v-layout row wrap justify-center>
          <v-flex xs12 sm6 md4>
            <v-layout column>
              <v-flex align-self-center my-5>
                <div class="headline">Bizfly 2FA - Demo</div>
              </v-flex>
              <v-flex v-if="current_progress === 'commit_info'">
                <v-card>
                  <v-form class="pa-4"
                          ref="info_form"
                          v-model="info_form.valid">
                    <v-layout column>
                      <v-flex>
                        <v-text-field :rules="info_form.rules.email"
                                      label="Email"
                                      autofocus
                                      v-model="info_form.values.email"
                                      outlined/>
                      </v-flex>
                      <v-flex>
                        <v-text-field :rules="info_form.rules.phone"
                                      v-model="info_form.values.phone"
                                      label="Số điện thoại"
                                      outlined/>
                      </v-flex>
                      <v-flex>
                        <v-checkbox hide-details class="ma-0"
                                    v-model="info_form.values.popup_enabled"
                                    label="Sử dụng popup?"
                        ></v-checkbox>
                      </v-flex>
                      <v-flex>
                        <v-btn
                          @click="commit_info"
                          :loading="processes.commit_info.in_progress"
                          block depressed color="primary">
                          <span>Tiếp tục</span>
                        </v-btn>
                      </v-flex>
                    </v-layout>
                  </v-form>
                </v-card>
              </v-flex>
              <v-flex v-if="current_progress === 'verify_otp'">
                <sending-otp-dialog
                  :otp_session_uid="otp_session_uid"
                  ref="sending_otp_dialog"/>
                <v-card>
                  <v-form class="pa-4"
                          ref="otp_form"
                          v-model="otp_form.valid">
                    <v-layout column>
                      <v-flex>
                        <v-text-field :rules="otp_form.rules.otp"
                                      label="Nhập OTP" autofocus
                                      v-model="otp_form.values.otp"
                                      outlined/>
                      </v-flex>
                      <v-flex>
                        <div class="body-2">
                          <span>OTP đã được gửi vào SĐT {{info_form.values.phone}}</span>
                        </div>
                        <div class="body-2">
                          <span>Chưa nhận được?</span>
                          <a @click="$refs.sending_otp_dialog.open()"> Gửi lại.</a>
                        </div>
                      </v-flex>
                      <v-flex v-if="processes.verify_otp.error">
                        <div class="body-2 error--text">
                          {{processes.verify_otp.error}}
                        </div>
                      </v-flex>
                      <v-flex>
                        <v-btn
                          @click="verify_otp"
                          :loading="processes.verify_otp.in_progress"
                          block depressed color="primary">
                          <span>Chấp nhận</span>
                        </v-btn>
                      </v-flex>
                      <v-flex>
                        <v-btn
                          @click="current_progress = 'commit_info'"
                          :disabled="processes.verify_otp.in_progress"
                          block depressed color="secondary">
                          <span>Quay lại</span>
                        </v-btn>
                      </v-flex>
                    </v-layout>
                  </v-form>
                </v-card>
              </v-flex>
              <v-flex v-if="current_progress === 'done'">
                <v-card class="pa-2">
                  <v-layout justify-center column>
                    <v-flex align-self-center>
                      <v-icon color="success" large>mdi-check-circle</v-icon>
                    </v-flex>
                    <v-flex align-self-center>
                      <div>
                        Chúc mừng! Bạn đã xác thực thành công.
                      </div>
                    </v-flex>
                    <v-flex>
                      <v-divider/>
                    </v-flex>
                    <v-flex align-self-center>
                      <div>Access Token</div>
                      <kbd>{{_access_token}}</kbd>
                      <div>User Info</div>
                      <kbd>{{JSON.stringify(user_info)}}</kbd>
                    </v-flex>
                    <v-flex>
                      <v-divider/>
                    </v-flex>
                    <v-flex align-self-center>
                      <v-btn text small
                             @click="reset"
                             color="primary">
                        <span>Thử lại</span>
                      </v-btn>
                    </v-flex>
                  </v-layout>
                </v-card>
              </v-flex>
            </v-layout>
          </v-flex>
        </v-layout>
        <v-layout row wrap justify-center mt-5>
          <v-flex xs12 sm6 md4>
            <v-layout column>
              <v-flex>
                <div class="body-2">
                  <span>Source code (gitlab): </span>
                  <a target="_blank" rel="noopener noreferrer"
                     href="https://gitlab.com/tringuyen5835/bizfly_2fa_demo_backend">Backend</a>
                  <span class="mx-1">|</span>
                  <a target="_blank" rel="noopener noreferrer"
                     href="https://gitlab.com/tringuyen5835/bizfly_2fa_demo_frontend">Frontend</a>
                </div>
              </v-flex>
            </v-layout>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>
<script>
  import SendingOtpDialog from '@/components/app/sending-otp-dialog'

  export default {
    components: {SendingOtpDialog},
    data () {
      return {
        info_form: {
          valid: false,
          rules: {
            phone: [
              v => (!!v && !!v.trim()) || 'Không được bỏ trống',
              v => (this.common_data.digit_regex.test(v) && v.length > 8 && v.length <= 20) || 'SĐT không đúng định dạng'
            ],
            email: [
              v => (!!v && !!v.trim()) || 'Không được bỏ trống',
              v => this.common_data.email_regex.test(v) || 'Email không đúng định dạng'
            ]
          },
          values: {
            email: '',
            phone: '',
            popup_enabled: false
          }
        },
        otp_form: {
          valid: false,
          values: {
            otp: ''
          },
          rules: {
            otp: []
          }
        },
        processes: {
          commit_info: {
            in_progress: false
          },
          verify_otp: {
            in_progress: false,
            error: null
          }
        },
        otp_session_uid: null,
        verified_successful: false,
        current_progress: 'commit_info',
        user_info: null,
        _access_token: null,
      }
    },
    created () {
      // setup popup
      this.setup_popup_callback()
    },
    methods: {
      async commit_info () {
        let process = this.processes.commit_info
        if (process.in_progress) return
        if (!this.$refs.info_form.validate()) return
        process.in_progress = true
        // request to demo backend to get an otp session
        const response = await this.$services.otp.generate_session(this.info_form.values)
        process.in_progress = false
        if (response.status === 200) {
          // success
          this.otp_session_uid = response.data.otp_session_uid
          if (this.info_form.values.popup_enabled) {
            // open popup
            this.open_popup()
          } else this.current_progress = 'verify_otp'
        } else {
          // error
        }
      },

      // FOR POPUP USING
      setup_popup_callback () {
        window.VC2FA.on_verify_success = this.on_verify_success
        window.VC2FA.on_popup_closed = this.on_popup_closed
      },
      async on_verify_success () {
        // define your logic here when OTP is successfully verified

        // we send otp_session_uid to backend to get user_info and access_token
        let payload = {
          email: this.info_form.values.email,
          otp_session_uid: this.otp_session_uid
        }

        const response = await this.$services.otp.confirm_session(payload)

        if (response.status === 200) {
          this.user_info = response.data.user_info
          this._access_token = response.data.access_token
          this.verified_successful = true
          this.current_progress = 'done'
        }
      },
      on_popup_closed () {
        // define your logic here when the POPUP is closed without otp verified
        window.alert('Popup closed without verifying OTP!!')
      },
      open_popup () {
        // open popup with otp session
        window.VC2FA.open_popup(this.otp_session_uid)
      },

      // FOR API USING
      async verify_otp () {
        let process = this.processes.verify_otp

        if (process.in_progress) return
        if (!this.$refs.otp_form.validate()) return

        process.in_progress = true
        process.error = null
        let payload = {
          otp: this.otp_form.values.otp,
          otp_session_uid: this.otp_session_uid
        }
        const response = await this.$services.otp.verify(payload)
        process.in_progress = false

        if (response.status === 200) {
          // success
          this.verified_successful = true
          this.current_progress = 'done'
          this.user_info = response.data.user_info
          this._access_token = response.data.access_token
        } else {
          // error
          process.error = response.data.message
        }
      },

      // reset demo
      reset () {
        this.otp_session_uid = null
        this.current_progress = 'commit_info'
        this.otp_form.values.otp = ''
        this.info_form.values.email = ''
        this.info_form.values.phone = ''
        this.user_info = null
        this._access_token = null
      }
    }
  }
</script>
