<template>
  <v-dialog
    v-model="showed"
    persistent
    max-width="500"
  >
    <v-card>
      <v-card-title
        class="headline grey lighten-2 mb-1"
        primary-title
      >
        Gửi OTP
      </v-card-title>

      <v-card-text>
        <v-chip-group
          v-model="selected_type"
          active-class="deep-purple--text text--accent-4"
          mandatory
        >
          <v-chip v-for="type in delivery_types"
                  :key="type.id" pill
                  :value="type.id">
              <v-icon left>{{type.icon}}</v-icon>
            <span>{{type.text}}</span>
          </v-chip>
        </v-chip-group>
        <div v-if="processes.send_otp.error" class="body-2 error--text">
          {{processes.send_otp.error}}
        </div>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="secondary"
          text small
          @click="showed = false"
        >
          Đóng
        </v-btn>
        <v-btn
          color="primary"
          text small
          @click="send_otp"
        >
          Gửi
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<script>
  export default {
    props: {
      otp_session_uid: {type: String, required: true}
    },
    data: () => ({
      showed: false,
      delivery_types: [
        {
          id: 'sms',
          text: 'SMS',
          icon: 'mdi-message'
        },
        {
          id: 'email',
          text: 'Email',
          icon: 'mdi-email'
        },
        {
          id: 'call',
          text: 'Call',
          icon: 'mdi-phone'
        }
      ],
      selected_type: 'sms',
      processes: {
        send_otp: {
          in_progress: false,
          error: null
        }
      }
    }),
    methods: {
      open () {
        this.showed = true
      },
      async send_otp () {
        let process = this.processes.send_otp
        if (process.in_progress) return

        process.in_progress = true
        process.error = null
        let payload = {
          otp_session_uid: this.otp_session_uid,
          delivery_type: this.selected_type
        }
        const response = await this.$services.otp.send(payload)

        if (response.status === 200) {
          // success
          this.close()
        } else {
          process.error = response.data.message
        }
      }
    }
  }
</script>